body {
  background-color: white;
}

h1 {
  color: blue;
}

div.mainArea {
  width: 505px;
  height: 550px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
  position: relative;
}

ul {
  position: relative;
  top: 0px;
  width: 500px;
  margin: 0px auto;
  padding: 0px;
}

.baddie {
  width:  20px;
  height: 20px;
  margin: 0px;
  border: 0px solid black;
  padding: 0px;
  position: absolute;
  list-style-type: none;
  background: yellow;
}

.transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.alive   {
  background: rgba(1,1,1,0.5);
  border: none;
}

#gun {
  position: relative;
  margin:0 auto;
  width:10px;
  height:20px;
  background: black;
  z-index: -1;
}

#player {
  border: solid black 1px;
  width: 100px;
  height: 50px;
  border: 0px solid;
  padding: 0px;
  margin: 0px;
  background: red;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.bullet {
  position: relative;
  margin:0 auto;
  width:5px;
  height:5px;
  background: black;
  z-index: 0;
  color: #fff;
}

.midLayer {
 background-color: blue;
}

.lowLayer {
 background-color: green;
}

#scoreBoard {
  display: inline-block;
  margin: 0 auto;
  float:left;
  width: 200px;
}

.gameOverMessage{
  position: relative;
  margin: 100px auto;
  font-size: 100px;
  list-style-type: none;
}
